@charset "utf-8";
/* CSS Document */
.main{
        width:600px;
		height:600px;
		background-color:rgb(60,60,60);
		background-image:url(redjavaicon128.jpg),url(redjavaicon128.jpg),url(redjavaicon128.jpg),url(redjavaicon128.jpg),url(redjavaicon128.jpg);
		background-repeat:no-repeat;
		background-position:top left, top right, bottom left, bottom right, center center;
		/* 
	position  
	top left
	top center
	top right
	center left
	center center
	center right
	bottom left
	bottom center
	bottom right
	100px 200px
	
	Also you can put different images just put their urls
	*/
}

