@charset "utf-8";
/* CSS Document */
.a{
	width:1000px;
	height:300px;
	background-color:rgb(60,60,60);
}
.b{
	width:1000px;
	height:300px;
	background-color:rgb(120,120,120);
}
.c{
	width:100px;
	height:100px;
	position:relative;
	top:-350px;
	left:450px;
}
.bird{
	width:100px;
	height:100px;
}