@charset "utf-8";
/* CSS Document */
.main{
	   width:700px;
	   height:900px;
	   margin:0 auto;
	   padding-left:50px;
	   padding-right:50px;
	   background-color:lightgray;
}
.a{
	   width:700px;
	   height:100px;
	   line-height:100px;
	   text-align:center;
	   font-size:30px;
	   font-style: italic;
	   text-decoration:underline;
}
.b{
	   width:700px;
	   height:50px;
}
.c{
	  width:300px;
	  height:50px;
	  line-height:50px;
	  font-size:20px;
	  float:left;
}
.d{
	  width:400px;
	  height:50px;
	  float:left;
}
.EmptyBox{
	  width:400px;
	  height:35px;
	  line-height:35px;
	  background-color:white;
}
.e{
	   width:700px;
	   height:300px;
}
.f{
	  width:300px;
	  height:300px;
	  line-height:300px;
	  font-size:20px;
	  float:left;
}
.g{
	  width:400px;
	  height:300px;
	  float:left;
}
.AddressBox{
	  width:400px;
	  height:285px;
	  text-align:justify;
	  background-color:white;
}
.buttons{
	  width:100px;
	  height:50px;
}

